<section class="hero is-medium is-warning is-bold is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-grey">Sign Up </h3>
                    <p class="subtitle has-text-grey">Please Sign Up to proceed.</p>
                    <div class="box">
                        <figure class="avatar">
                            <img src="https://placehold.it/128x128">
                        </figure>
                        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                          <%= devise_error_messages! %>
                            <div class="field">
                              <%= f.email_field :email, class: "control input is-large", type: "email", placeholder: "Your Email", autofocus: "", autocomplete: "email" %>
                            </div>

                            <div class="field">
                               <% if @minimum_password_length %>
                              <em>(<%= @minimum_password_length %> characters minimum)</em>
                              <% end %><br />
                              <%= f.password_field :password, class: "control input is-large", type: "password", placeholder: "Your Pasword",  autocomplete: "off" %>
                            </div>
                            <div class="field">
                              <%= f.password_field :password_confirmation, class: "control input is-large", type: "password", placeholder: "Confirm Your Pasword",  autocomplete: "off" %>
                            </div>
                            <div class="actions">
                              <%= f.submit "Sign Up", class: "button is-block is-info is-large is-fullwidth" %>
                            </div>
                        <% end %>
                    </div>
                    <p class="has-text-grey">
                        <%= render "devise/shared/links" %>
                    </p>
                </div>
            </div>
        </div>
    </section>