<%= form_with(model: link, local: true) do |form| %>
  <% if link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(link.errors.count, "error") %> prohibited this link from being saved:</h2>

      <ul>
      <% link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :original, class: "label" %>
    <%= form.text_field :original, placeholder: "Link should starts with either http:// or https://", class: "input"  %>
  </div>

  <div class="field">
    <%= form.label :url_code , class: "label" %>
    <%= form.text_field :url_code, class: "input"  %>
  </div>

  <div class="control ">
    <%= form.submit class: "control button is-primary"  %>
  </div>
<% end %>
