<section class="hero is-medium is-warning is-bold is-fullheight">
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-grey">Login</h3>
                    <p class="subtitle has-text-grey">Please login to proceed.</p>
                    <div class="box">
                        <figure class="avatar">
                            <img src="https://placehold.it/128x128">
                        </figure>
                        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                            <div class="field">
                              <%= f.email_field :email, class: "control input is-large", type: "email", placeholder: "Your Email", autofocus: true, autocomplete: "email" %>
                            </div>

                            <div class="field">
                              <%= f.password_field :password,class: "control input is-large", type: "password", placeholder: "Your Password", autocomplete: "off" %>
                            </div>
                             <% if devise_mapping.rememberable? -%>
                            <div class="field">
                                <%= f.check_box :remember_me %>
                                <%= f.label :remember_me, class: "checkbox"%>
                            </div>
                              <% end -%>
                            
                            <div class="actions">
                            <%= f.submit "Log in", class: "button is-block is-info is-large is-fullwidth" %>
                            </div>
                          <% end %>
                         </div>
                    <p class="has-text-grey">
                        <%= render "devise/shared/links" %>
                    </p>
                </div>
            </div>
        </div>
    </section>
